@font-face {
    font-family: "Taurus Normal";
    src: url("../fonts/94050a9c885ec0c8963c20ba695c6099.eot");
    src: url("../fonts/94050a9c885ec0c8963c20ba695c6099.eot?#iefix")format("embedded-opentype"),
        url("../fonts/94050a9c885ec0c8963c20ba695c6099.woff2")format("woff2"),
        url("../fonts/94050a9c885ec0c8963c20ba695c6099.woff")format("woff"),
        url("../fonts/94050a9c885ec0c8963c20ba695c6099.ttf")format("truetype"),
        url("../fonts/94050a9c885ec0c8963c20ba695c6099.svg#Taurus Normal")format("svg");
}